# 域名
set $MAIN_DOMAIN "__MAIN_DOMAIN__";
set $N8N_DOMAIN "__N8N_DOMAIN__";
set $NTFY_DOMAIN "__NTFY_DOMAIN__";
set $FRPS_DOMAIN "__FRPS_DOMAIN__";

# 端口
set $N8N_PORT __N8N_PORT__;
set $NTFY_PORT __NTFY_PORT__;
set $FRPS_ADMIN_PORT __FRPS_ADMIN_PORT__;
set $FRPS_HTTP_PORT __FRPS_HTTP_PORT__;
set $FRPS_HTTPS_PORT __FRPS_HTTPS_PORT__;
